<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        TP - Mehdi AYATA First Application Mobile
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header collapse="condense">
      <ion-card-title>Préambule</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Voici ma première application mobile, l'objectif est d'afficher :
      - Une notifiacation
      - Les points GPS
      - La caméra
    </ion-card-content>
  </ion-card>

  <ion-item routerLink="/camera" class="ion-activated">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Camera</ion-label>
  </ion-item>

  <ion-item routerLink="/login">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Go To Login</ion-label>
  </ion-item>

  <ion-card>
    <ion-grid>
      <ion-row>

        <ion-col>
          Longitude
        </ion-col>

        <ion-col>
          Latitude
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          {{ longitude }}
        </ion-col>
        <ion-col>
          {{ latitude }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item (click)="notificationTest()" class="ion-activated">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Notification</ion-label>
  </ion-item>